*.swp
*~

/aclocal.m4
/ar-lib
/autom4te.cache
/auxConfig/
/build/
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/Makefile.in
/missing
/pnapi/
/preBuild/
/VERSION
/src/Makefile.am
/src/Makefile.in
/src/mod/BuildConfig.h_.in

/NB_boost/.dep.inc
/NB_boost/build/
/NB_boost/dist/
/NB_boost/nbproject/private/

/NB_mod/.dep.inc
/NB_mod/build/
/NB_mod/dist/
/NB_mod/nbproject/private/

/NB_pymod/.dep.inc
/NB_pymod/build/
/NB_pymod/dist/
/NB_pymod/nbproject/private/

/doc/build/
/doc/Makefile.am
/doc/Makefile.in
/doc/doctrees
/doc/source/index.rst
/doc/source/references.rst
/doc/source/toc.rst
/doc/source/libmod/[A-Z]*.rst
/doc/source/pymod/[A-Z]*.rst

/server/node_modules/
/server/src/static/examples/list.json
