[submodule "external/graph_canon"]
	path = external/graph_canon
	url = https://github.com/jakobandersen/graph_canon.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "external/json_schema"]
	path = external/json_schema
	url = https://github.com/pboettch/json-schema-validator.git
