*.swp
*~
__pycache__
*.pyc

/CMakeFiles.txt
/VERSION

/.idea
/build
/stage
/test/py/**/out/
/test/py/**/summary/
/test/py/**/.gdb_history
/test/py/graph/myGraph.gml
/test/py/rule/myRule.gml

/doc/source/index.rst
/doc/source/references.rst
/doc/source/toc.rst
/doc/source/libmod/[A-Z]*.rst
/doc/source/pymod/[A-Z]*.rst
/doc/source/libmod/[^/]*/
/doc/source/pymod/[^/]*/
/doc/source/examples/inc_*.rst
/doc/source/_static/examples/libmod_cmake
/doc/source/_static/examples/pymod_extension
/doc/source/_static/examples/py
